<%/* This is used to deliver a static ad for the single-touch attribution use-case. */%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="icon"
        href="" />
  <link rel="stylesheet"
        href="/css/ad-frame.css" />
  <link rel="stylesheet"
        href="/css/ad-label.css" />
</head>

<body>
  <p id="ad-label"></p>
  <a width="300"
     height="250"
     target="_blank"
     rel="noopener noreferrer"
     attributionsrc="<%= ATTRIBUTION_SRC %>"
     href="<%= DESTINATION %>">
    <!-- Smaller to avoid scrollbar -->
    <img width="294"
         height="245"
         loading="lazy"
         attributionsrc="<%= ATTRIBUTION_SRC %>"
         src="<%= CREATIVE %>">
  </a>



  <a width="300"
     height="250"
     target="_blank"
     rel="noopener noreferrer"
     href="<%= DESTINATION %>">
  </a>
      <img id="adImg" alt="ad image" loading="lazy"
        onclick="adClick()"
        attributionsrc="<%= `https://${DSP_HOST}:${EXTERNAL_PORT}/attribution/register-source?advertiser=${SHOP_HOST}&amp;id=u26f8` %>"
        src="<%= `https://${SHOP_HOST}:${EXTERNAL_PORT}/image/svg/emoji_u26f8.svg` %>" />
    </div>
    <button id="playButton" onclick="navigateToShop()">To the shop without ad click</button>
    



  
  <a width="300"
     height="250"
     target="_blank"
     rel="noopener noreferrer"
     href="<%= DESTINATION %>">
    <!-- Smaller to avoid scrollbar -->
    <img width="294"
         height="245"
         loading="lazy"
         src="<%= CREATIVE %>">
  </a>
</body>

</html>
