<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="stylesheet"
        href="/css/global.css" />
  <link rel="stylesheet"
        href="/css/unified.css" />
  <link rel="icon"
        href="/img/spy.svg" />
  <script src="/js/main.js"></script>


  <script>
    // Seller acting as ad server is included implictly, and their tag is
    // included on the page directly. This configuration field should list
    // additional sellers to include in the ad auctions.
    const otherSellers = window.PSDemo.getUrlQueryAsArray('otherSellers') || [
      '<%= SSP_ORIGIN %>',
      '<%= SSP_A_ORIGIN %>',
      '<%= SSP_B_ORIGIN %>',
    ];
    // If strict=true is included in URL query, then reject bids without deals.
    const strictRejectForDeals = 'true' === window.PSDemo.getUrlQueryAsString('strict');
    // Optionally source deal IDs from URL query: deals=deal-1,deal-2,deal-3.
    const availableDeals = window.PSDemo.getUrlQueryAsArray('deals') || ['deal-1', 'deal-2'];
    // Publishers configure the ad units available on the page.
    window.PSDemo.PAGE_ADS_CONFIG = Object.freeze({
      // Seller acting as ad server is included implictly, and their tag
      // is included on the page directly. This configuration field should
      // list additional sellers to include in the ad auctions.
      otherSellers,
      // Ad units to request bids for.
      adUnits: [{
        code: 'displayFencedFrameAdUnit',
        auctionId: `PUB-${crypto.randomUUID()}`,
        divId: 'display-ad--fenced-frame',
        adType: 'REACH',
        size: [300, 250],
        isFencedFrame: true,
        // Include available deals in ad slot config which will flow through
        // to Protected Audience auctionSignals.
        availableDeals,
        strictRejectForDeals,
      }],
    });
  </script>
  <script async defer
          src="<%= AD_SERVER_TAG_URL %>"
  ></script>



  
</head>

<body class="container mx-auto flex flex-col gap-6 font-serif sm:w-full md:w-full lg:w-4/5 bg-slate-50 pt-8">
  <%- include('components/header') %>
  <main class="flex flex-col lg:flex-row justify-between gap-6">
    <article class="flex flex-col gap-6 text-xl leading-6 w-full lg:w-4/6">
      <hr>FENCED FRAME WITH SHARED STORAGE & REACH <hr> 
      <p><%= TEXT_LOREM %></p>
      <%- include('components/display-ad-with-reach-component') %>
      <p><%= TEXT_LOREM %></p>
      <p><%= TEXT_LOREM %></p>
      <p><%= TEXT_LOREM %></p>
    </article>
    <%- include('components/aside') %>
  </main>
  <%- include('components/footer', {HOME_HOST, EXTERNAL_PORT}) %>
</body>

</html>



<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="stylesheet"
        href="/css/global.css" />
  <link rel="stylesheet"
        href="/css/unified.css" />
  <link rel="icon"
        href="/img/spy.svg" />
  <script src="/js/main.js"></script>
</head>

<body class="container mx-auto flex flex-col gap-6 font-serif sm:w-full md:w-full lg:w-4/5 bg-slate-50 pt-8">
  <%- include('components/header') %>
  <main class="flex flex-col lg:flex-row justify-between gap-6">
    <article class="flex flex-col gap-6 text-xl leading-6 w-full lg:w-4/6">
      <p><%= TEXT_LOREM %></p>
      <p><%= TEXT_LOREM %></p>
      <div class="w-full flex flex-row justify-center ad-row">
        <div class="ad-slot">
          <script defer src="<%= `https://${DSP_HOST}:${EXTERNAL_PORT}/js/dsp/static-ad-tag.js` %>"></script>
        </div>
      </div>
      <p><%= TEXT_LOREM %></p>
      <p><%= TEXT_LOREM %></p>
      <p><%= TEXT_LOREM %></p>
    </article>
    <%- include('components/aside') %>
  </main>
  <%- include('components/footer', {HOME_HOST, EXTERNAL_PORT}) %>
</body>

</html> -->
