<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="icon" href="/img/spy.svg" />
  <script src="/js/main.js"></script>
  <meta http-equiv="origin-trial" content="<%= NEWS_TOKEN %>">
</head>

<body class="container mx-auto flex flex-col gap-6 font-serif sm:w-full md:w-full lg:w-3/5 bg-slate-50 pt-8">
  <header class="flex flex-col items-center gap-4">
    <h1 class="text-6xl">Daily Privacy News</h1>
    <h2 class="text-2xl">This is a news demo site.</h2>
    <hr class="w-full">
  </header>

  <main class="flex flex-col lg:flex-row justify-between gap-6">
    <article class="flex flex-col gap-6 text-xl leading-6 w-full lg:w-4/6">
      <p><%= lorem %></p>
      <p><%= lorem %></p>

      <div class="w-full flex flex-col items-center">
        <span class="font-mono text-sm">ADS BY Protected Audience API</span>
        <ins class="ads">
          <script defer class="ssp_tag" src="<%= `https://${SSP_HOST}:${EXTERNAL_PORT}/ad-tag.js` %>"></script>
        </ins>
      </div>

      <p><%= lorem %></p>
      <p><%= lorem %></p>
      <p><%= lorem %></p>
      <p><%= lorem %></p>
      <p><%= lorem %></p>
    </article>

    <aside class="flex flex-col gap-4">
      <h3 class="font-bold text-2xl">
        Today's stories
      </h3>
      <ul class="list-disc pl-4">
        <li><a href=#>Lorem ipsum dolor sit amet</a></li>
        <li><a href=#>consectetur adipiscing elit</a></li>
        <li><a href=#>sed do eiusmod tempor incididunt</a></li>
        <li><a href=#>ut labore et dolore magna aliqua</a></li>
        <li><a href=#>Ut enim ad minim veniam</a></li>
        <li><a href=#>quis nostrud exercitation ullamco aboris</a></li>
        <li><a href=#>nisi ut aliquip ex ea commodo consequat</a></li>
        <li><a href=#>Duis aute irure dolor in reprehenderit</a></li>
        <li><a href=#>in voluptate velit esse cillum dolore</a></li>
        <li><a href=#>eu fugiat nulla pariatur</a></li>
      </ul>
    </aside>
  </main>
  <footer>
    <hr>
    <p><a href=<%= `https://${HOME_HOST}:${EXTERNAL_PORT}` %>>back to top</a>
  </footer>
</body>

</html>