<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="stylesheet"
        href="/css/global.css" />
  <link rel="stylesheet"
        href="/css/unified.css">
  <link rel="icon"
        href="/img/spy.svg" />
  <script src="/js/main.js"></script>
</head>

<body class="container mx-auto flex flex-col gap-6 font-serif sm:w-full md:w-full lg:w-3/5 bg-slate-50 pt-8">
  <%- include('components/header') %>
  <main class="flex flex-col lg:flex-row justify-between gap-6">
    <article class="flex flex-col gap-6 text-xl leading-6 w-full lg:w-4/6">
      <b>Use-case: Single-touch attribution</b>
      <p><%= TEXT_LOREM %></p>
      <div class="w-full flex flex-row justify-center ad-row ad-slot">
        <iframe src="<%= `https://${DSP_HOST}/ads/static-ads-for-ara-js?advertiser=${SHOP_HOST}&itemId=1f45e`%>"></iframe>
      </div>
      <a href="<%= `https://${SHOP_HOST}:${EXTERNAL_PORT}` %>">Navigate to the shop page without ad click</a>
      <p><%= TEXT_LOREM %></p>
      <p><%= TEXT_LOREM %></p>
      <p><%= TEXT_LOREM %></p>
    </article>
    <%- include('components/aside') %>
  </main>
  <%- include('components/footer', {HOME_HOST, EXTERNAL_PORT}) %>
</body>

</html>
