<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/global.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👟</text></svg>"
    />
    <script type="text/javascript" src="/js/cart.js" type="module"></script>
  </head>
  <body>
    <header class="flex flex-col">
      <nav class="flex justify-between lg:py-6 py-2 border-b-2">
        <h1 class="text-slate-800 text-4xl font-bold"><a href="/">Shopping DEMO</a></h1>
        <a class="text-4xl px-2" href="/cart">🛒</a>
      </nav>
    </header>
    <div class="flex flex-col gap-6">
      <form id="cart-form" class="flex flex-col gap-6" action="/checkout" method="POST">
        <ul class="flex flex-col gap-6">
          <% cart.forEach(({item, size, quantity}) => { %>
            <%- include("cart-item", { item, size, quantity, onCheckoutPage: false }) %>
          <% }) %>
        </ul>
        <dl class="flex flex-col">
          <div class="flex justify-end gap-2">
            <dt class="font-bold">Subtotal:</dt>
            <dd>$<%= subtotal %>.00</dd>
          </div>
          <div class="flex justify-end gap-2">
            <dt class="font-bold">Shipping:</dt>
            <dd>$<%= shipping %>.00</dd>
          </div>
          <div class="flex justify-end gap-2">
            <dt class="font-bold">Total:</dt>
            <dd>$<%= total %>.00</dd>
          </div>
        </dl>

        <div id="button-holder" class="text-center flex flex-col justify-center items-center border border-slate-600 gap-4 py-6" <%=cart.length===0 ? 'style=display:none' : "" %>>
          <h3 class="text-lg font-bold text-center text-slate-700 py-2">Choose payment method</h3>
          <button class="w-60 border border-slate-600 text-slate-600 enabled:hover:bg-slate-400 enabled:hover:text-white disabled:opacity-40 rounded" onclick="navigateToCheckout()">CREDIT CARD</button>
          <button class="w-60 border border-slate-600 text-slate-600 enabled:hover:bg-slate-400 enabled:hover:text-white disabled:opacity-40 rounded" onclick="navigateToCheckout()">BANK TRANSFER</button>
          <script src="/js/payment-buttons.js"></script>
      </div>
      </form>
      <footer class="border-t-2 py-4">
        <a class="underline before:content-['<<']" href="/">
          continue shopping
        </a>
      </footer>
    </div>
  </body>
</html>