<tr class="text-sm">
    <td class="text-center">
        <%= item.name %>
    </td>
    <td class="text-center">
        $<%= item.price %>.00
    </td>
    <td class="text-center"">
        <%= displayCategory(item.id) %>
    </td>
    <td class="text-center"">
        <%= size %>.0
    </td>
    <td class="text-center"">
        <%= quantity %>
    </td>
</tr>