<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet"
        href="/css/global.css" />
  <link rel="icon"
        href="/img/spy.svg" />
  <script src="/js/main.js"></script>
</head>

<body>
  <header>
    <h1>Find your best ever holiday!</h1>
    <h2>This is a demo travel site.</h2>
  </header>
  <p id=notice>
    Photo by <a href="https://unsplash.com/@foxxmd?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Matt
      Duncan</a> on <a href="https://unsplash.com/s/photos/travel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

    <!-- Photo by <a
  href="https://unsplash.com/@dinoreichmuth?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dino
  Reichmuth</a> on <a
  href="https://unsplash.com/s/photos/travel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
  </p>

  <hr>

  <footer>
    <p>✅ Your browser has joined the <strong>travel</strong> interest group.</p>
    <p>👉 Now view a demo news site that runs a Protected Audience API auction to select an ad:</p>
    <ul>
      <li><a href=<%= `https://${NEWS_HOST}:${EXTERNAL_PORT}` %>>>news</a></p>
    </ul>
    <p>TIP: To modify the active DSP tags on this page use the `<strong>tag</strong>` query parameter.</p>
    <ul>
      <li>`?tag=dsp` is the default behavior.</li>
      <li>`?tag=dsp-a` will only load dsp-a tag.</li>
      <li>`?tag=dsp-a&tag=dsp-b` will load dsp-a and dsp-b tags.</li>
      <li>`?tag=dsp&tag=dsp-a&tag=dsp-b` will load all three tags.</li>
    </ul>
  </footer>
  <script>
    function buildDspScriptTag(tagUrl) {
      const scriptEl = document.createElement('script')
      scriptEl.className = 'dsp_tag'
      scriptEl.src = tagUrl
      scriptEl.dataset.advertiser = '<%= TRAVEL_HOST %>'
      return scriptEl
    }
    if ('<%= DSP_TAG_URL %>' !== '') {
      document.body.appendChild(buildDspScriptTag('<%= DSP_TAG_URL %>'));
    }
    if ('<%= DSP_A_TAG_URL %>' !== '') {
      document.body.appendChild(buildDspScriptTag('<%= DSP_A_TAG_URL %>'));
    }
    if ('<%= DSP_B_TAG_URL %>' !== '') {
      document.body.appendChild(buildDspScriptTag('<%= DSP_B_TAG_URL %>'));
    }
  </script>
</body>

</html>
